@font-face {
  font-family: 'Liberation Sans';
  src: url("../fonts/LiberationSans-Regular.ttf"); }

@font-face {
  font-family: 'Liberation Sans';
  font-weight: bold;
  src: url("../fonts/LiberationSans-Bold.ttf"); }

@font-face {
  font-family: 'Liberation Sans';
  font-style: italic;
  src: url("../fonts/LiberationSans-Italic.ttf"); }

@font-face {
  font-family: 'Liberation Sans';
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/LiberationSans-BoldItalic.ttf"); }
